<!--//***************************************************************************/
//*                                   Recetas app                               */
//*******************************************************************************/
//* Modulo: Login                                                             */
//* Desarrollador: Bastian Lisboa (BAS)                                         */
//* Fecha: 22-04-2025                                                           */
//*******************************************************************************/
//* MODIFICACIONES                                                              */
//*******************************************************************************/
//*******************************************************************************/-->
<ion-header [translucent]="true">
</ion-header>

<ion-content class="loginr-bg">

  <!-- Fondo con imagen superior -->
  <div class="top-image"></div>

  <!-- Logo y tarjeta -->
  <div class="login-container">
    <img src="assets/icon/logo.jpg" alt="Logo" class="logo" />

    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title style="color: #81ac8a;">Ingresar</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- ion-item lines="none">
          <ion-input  [(ngModel)]="lg_nombre" type="nombre" placeholder="Nombre" style="color: #81ac8a;"></ion-input>
        </ion-item -->

        <ion-item lines="none">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input  [(ngModel)]="lg_email" type="email" placeholder="Email" style="color: #81ac8a;"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input [(ngModel)]="lg_password" type="password" placeholder="Contraseña" style="color: #81ac8a;"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
        <br>
        <div class="registrarse-button">
          <ion-button expand="block" (click)="registrarse()">Registrate</ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>