<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="cancelar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="perfilForm" (ngSubmit)="guardar()" class="formulario-perfil">
    <ion-card>
      <ion-card-content>

        <ion-list lines="none">

          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre_cliente" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input formControlName="apellidos_cliente" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Fecha de nacimiento</ion-label>
            <ion-datetime
              presentation="date"
              formControlName="fecha_nacimiento"
              prefer-wheel="false"
            ></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Sexo</ion-label>
            <ion-select formControlName="sexo" interface="popover" placeholder="Selecciona sexo">
              <ion-select-option *ngFor="let sexo of sexos" [value]="sexo">{{ sexo }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Alergias</ion-label>
            <ion-textarea formControlName="alergias" auto-grow="true" placeholder="Por ejemplo: gluten, maní..."></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Peso (kg)</ion-label>
            <ion-input formControlName="peso" type="number" step="0.1"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Estatura (m)</ion-label>
            <ion-input formControlName="estatura" type="number" step="0.01"></ion-input>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-footer class="footer-form">
      <ion-button expand="block" type="submit" color="success" size="large">
        Guardar Cambios
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
