<ion-header>
  <ion-toolbar>
    <ion-title>Editar receta</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="cancelar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="RecetaForm" (ngSubmit)="guardar()" class="formulario-perfil">
    <ion-card>
      <ion-card-content>

        <ion-list lines="none">

          <ion-item>
            <ion-label position="floating">Nombre receta</ion-label>
            <ion-input formControlName="nombre_receta" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Tiempo preparacion</ion-label>
            <ion-input formControlName="tiempo" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea formControlName="descripcion_receta" autoGrow="true"></ion-textarea>
          </ion-item>
          
          <ion-label position="floating">Imagen actual</ion-label>
          <ion-img *ngIf="previewImage" [src]="previewImage"></ion-img>

          <ion-item lines="none">
            <ion-label>Imagen </ion-label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
          </ion-item>
          
          

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-footer class="footer-form">
      <ion-button expand="block" type="submit" color="success" size="large">
        Guardar Cambios
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
