:host {
  display: block;
  height: 100%;
  pointer-events: auto;
}

// HEADER
ion-header {
  --background: #43a047;
  --color: white;
  border-radius: 16px 16px 0 0;
}

.toolbar-custom {
  padding: 12px 20px;
  --min-height: 56px;
  text-align: center;
  --background: #43a047;
}

ion-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.close-btn {
  --color: white;
  font-size: 1.5rem;
}

// CONTENT
ion-content.content-custom {
  --background: #f9fdfb;
  padding: 16px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// IMAGEN
.recipe-img-wrapper {
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  max-height: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.receta-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: solid 2px #43a047
}

// INFO
.recipe-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tiempo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  color: #388e3c;
  font-size: 1.05rem;
}

.subtitulo {
  font-size: 1.1rem;
  font-weight: 600;
  color: #2e7d32;
  margin-top: 10px;
}

.descripcion-text {
  font-style: italic;
  color: #555;
  line-height: 1.6;
}

// BOTONES
.actions ion-button {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

ion-button[fill="outline"] {
  --border-color: #2e7d32;
  --color: #2e7d32;
  --background-hover: #e8f5e9;
}

ion-icon {
  font-size: 1.3rem;
}

// MODAL
ion-modal {
  --backdrop-opacity: 0.5;
  --backdrop-background: rgba(0, 0, 0, 0.6);
}

ion-modal::part(content) {
  --height: 75vh;
  --width: 90%;
  --max-width: 500px;
  --margin-top: 5vh;
  --border-radius: 16px;
  --box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
  --background: #fff;
  animation: fadeInModal 0.3s ease-out;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
