<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-title>{{ receta?.nombre_receta }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" class="close-btn">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-custom">
  <div class="recipe-info">
    <p><strong>Tiempo de preparación:</strong> {{ receta?.tiempo }}</p>
    <p><strong>Descripción:</strong></p>
    <p class="descripcion-text">{{ receta?.descripcion_receta }}</p>
  </div>

  <div class="actions">
    <ion-button expand="block" color="primary">
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      Compartir por QR
    </ion-button>

    <ion-button expand="block" color="secondary">
      <ion-icon slot="start" name="list-outline"></ion-icon>
      Iniciar Paso a Paso
    </ion-button>
  </div>
</ion-content>
