<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="IrMenu()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recetas" (click)="IrMis()" >
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Mis recetas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" (click)="IrPerfil()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Per-fil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>